.header{
    display:flex;
    justify-content: center;
    background-color: #f67280;
}
.title{
    display:flex;
    justify-content: center;
}
.jc{
    display:flex;
    justify-content: space-around;
}
.jc2{
    display:flex;
    justify-content: space-around;
}
.info{
    
    display:flex;
    justify-content: space-evenly;
    
}
.enroll{
    display:flex;
    justify-content: space-evenly;
    
}
.footer{
    background-color: #f67280;
}
body{
   background-color: #e9cfcf;
}


